<% if (post.photos && post.photos.length){ %>
  <div class="gallery-container">
      <% if (post.photos.length){ %>
          <% post.photos.forEach(function(photo){ %>
              <div class="picture-container">
                  <a href="#" data-featherlight="<%- config.root %><%- photo %>">
                      <img src="<%- config.root %><%- photo %>" class="img-thumbnail" />
                  </a>
              </div>
          <% }); %>
      <% } %>
  </div>
<% } %>
