<div class="meta">
  <% if(theme.show_dates) { %>
      <span class="date">
          <%= post.date.format(config.date_format) %>
      </span>
  <% } %>

  <% if (post.categories && post.categories.length && theme.show_dates){ %>
    <span class="meta-separator"> | </span>
  <% } %>

  <%- partial('category') %>

</div>
