<header id="header">
  <div class="inner">
    <a href="<%- url_for() -%>" class="image avatar"><img src="<%- gravatar( theme.gravatar_email ) %>" alt="" /></a>
    <h1><strong>This is Strata</strong>, a free, fully responsive site<br />template designed by <a href="http://html5up.net">HTML5 UP</a>.</h1>
  </div>
</header>
